STSTRAVRAYS/Web References/Mailref/Mailservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailSingleTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AlternateEmailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBuild" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HostAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PortNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnableSsl" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="MailFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstrextension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailSingleTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailSingleTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAvailabilityMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminalType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequenceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alternateEmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bccAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bodyMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HostAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PortNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnableSsl" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAvailabilityMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendAvailabilityMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailSingleTicketSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailSingleTicket" />
  </wsdl:message>
  <wsdl:message name="SendMailSingleTicketSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailSingleTicketResponse" />
  </wsdl:message>
  <wsdl:message name="SendAvailabilityMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendAvailabilityMail" />
  </wsdl:message>
  <wsdl:message name="SendAvailabilityMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendAvailabilityMailResponse" />
  </wsdl:message>
  <wsdl:portType name="MyServiceSoap">
    <wsdl:operation name="SendMailSingleTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SendMailSingleTicketS</wsdl:documentation>
      <wsdl:input message="tns:SendMailSingleTicketSoapIn" />
      <wsdl:output message="tns:SendMailSingleTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAvailabilityMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SendAvailabilityMail</wsdl:documentation>
      <wsdl:input message="tns:SendAvailabilityMailSoapIn" />
      <wsdl:output message="tns:SendAvailabilityMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServiceSoap" type="tns:MyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailSingleTicket">
      <soap:operation soapAction="http://tempuri.org/SendMailSingleTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAvailabilityMail">
      <soap:operation soapAction="http://tempuri.org/SendAvailabilityMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyServiceSoap12" type="tns:MyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailSingleTicket">
      <soap12:operation soapAction="http://tempuri.org/SendMailSingleTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAvailabilityMail">
      <soap12:operation soapAction="http://tempuri.org/SendAvailabilityMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="MyServiceSoap" binding="tns:MyServiceSoap">
      <soap:address location="http://115.124.97.108/TRAVRAYS_APPS_SERVICE/RaysEmail_Insurance/MailService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyServiceSoap12" binding="tns:MyServiceSoap12">
      <soap12:address location="http://115.124.97.108/TRAVRAYS_APPS_SERVICE/RaysEmail_Insurance/MailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>